[user]
    name = Isaac Dobbins

[core]
    editor = nvim
    excludesfile = ~/.config/git/ignore

[init]
    defaultBranch = main

[pull]
    rebase = false

[fetch]
    prune = true

[push]
    autoSetupRemote = true

[include]
    path = ~/.gitconfig.local

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
